logs
project/project
project/target
target
tmp

.history
dist
/
.idea
/
*.iml
/out
/
.idea_modules
/
.classpath
/
.project
/RUNNING_PID
/
.settings

ui/libpeerconnection.log


.target/
bin/
.cache 

*.com
*.class
*.dll
*.exe
*.o
*.so
*.cache
 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip 

*.log
*.sql
*.sqlite
 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#History
.history

# Mac OS X
._*
.DS_Store

# Windows
Desktop.ini
Thumbs.db